<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <H1>로그인 페이지</H1>
<hr/>
<form id="input" action="/api/login" method="POST">
    <input type="text" name="username" placeholder="Username"/><br/>
    <input type="password" name="password" placeholder="Password"/><br/>
</form>
    <button onclick="submit()">로그인</button>
    <a href="/joinForm">회원가입</a>
</body>

<script>
    function submit() {
        let form = $("#input");
        let username = form.find("input[name='username']").val();
        let password = form.find("input[name='password']").val();
        let data = {"username": username, "password": password};
        console.log(data);

        $.ajax({
            type: "POST",
            url: "/api/login",
            data: data,
            dataType: "json",
            contentType : "application/json"
        });
    }

</script>
</html>